* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  max-width: 1920px;
  background-color: white;
}

header {
  align-items: center;
  margin: 0 auto;
  width: 100%;
  background-color: #44446b;
}

header {
  height: 25vh;
  display: flex;
}

nav {
  flex: 1;
}
nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
}
nav li a {
  color: beige;
  font-size: 1.2rem;
  text-decoration-line: none;
  transition: all 0.5s ease;
  font-weight: bolder;
}
nav a:hover {
  color: black;
  font-size: 1.3rem;
}

.logo {
  width: 18%;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 1rem;
  animation: animacionLogo 1s linear infinite alternate;
}

#logoContainer {
  width: 70%;
}

@keyframes animacionLogo {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1.1);
  }
}



.alCarrito{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 15px;
 
}

.carritoImg{
  height: 15%;
  width: 18%;
}


.button-checkout {
  background-color: black;
  color: white;
  border: 5px solid black;
  transition-duration: 0.4s;
  border-radius: 5px;
}

.button-checkout:hover {
  background-color: #970484; 
  color: white;
  border: 5px solid #970484;
}

.productos {
  width: 95%;
  margin: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.productos__titulo {
  margin-top: 50px;
  margin-bottom: 50px;
  color: #970484;
  font-size: 1.6rem;
  font-weight: bolder;
  text-align: center;
}

#page-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 95%;
  margin: auto;
  border: #44446b 10px solid;
}

.product-container {
  margin: 15px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
}

.product-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.product-container img {
  width: 300px;
}

.product-container h2 {
  margin-bottom: 10px;
  margin-left: 15px;
  color: #970484;
}

.button-add {
  background-color: #970484;
  color: white;
  border: 2px solid #970484;
  border-radius: 10px;
  transition-duration: 0.4s;
  position: absolute;
  right: 15px;
  bottom: 10px;
}

.button-add:hover {
  background-color: #44446b;
  border: 2px solid #44446b;
  color: white;
}

/*   ------------------------------------------------------------------------------------------------ */

@media only screen and (max-width: 700px) {
  .navBar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #44446b;
  }
  .brandTitle {
    font-size: 1rem;
    margin: 0.5rem;
    height: 1.5rem;
  }
  #navbarLinks {
    height: 100%;
  }
  #navbarLinks ul {
    display: flex;
    margin: 0;
    padding: 0;
  }
  #navbarLinks li {
    list-style: none;
    transition: background-color 4s ease;
  }
  #navbarLinks li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
  }
  #navbarLinks li:hover {
    background-color: #555;
  }
  .toggleButton {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }
  .toggleButton .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }
  #navbarLinks:target {
    display: flex;
  }
  .navBar {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .toggleButton {
    display: flex;
  }
  #navbarLinks {
    display: none;
    width: 100%;
  }
  #navbarLinks ul {
    width: 100%;
    flex-direction: column;
  }
  #navbarLinks ul li {
    text-align: center;
  }
  #navbarLinks ul a {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
  }
}

/*   ------------------------------------------------------------------------------------------------ */

@media only screen and (max-width: 1099.9px) {
  nav {
    flex: 1;
  }
  nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
  }
  nav li a {
    color: rgb(2, 2, 0);
    font-size: 1.5rem;
    text-decoration-line: none;
  }
  a:hover {
    color: black;
  }
}

/*   ------------------------------------------------------------------------------------------------ */

